[[
source
]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[
packages
]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "==0.6.2"
sqlalchemy = "==2.0.35"
python-dotenv = "*"
werkzeug = "==2.3.7"
gunicorn = "*"
requests = "*"
beautifulsoup4 = "*"
flask-cors = "==4.0.0"
bcrypt = "==4.0.1"

[
dev-packages
]
pytest = "*"

[
requires
]
python_version = "3.8"